a {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  width: 100%;
  text-decoration: none;
  padding-left: 2%;
}

p {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  margin: 0;
  /* padding: 0.5rem; */
  padding-left: 1rem;
}

h3 {
  display: inline;
}

#list {
  display: flex;
  flex-direction: column;
  border: 0.5px solid #eee;
  border-radius: 10px;
  box-shadow: 2px 20px 25px rgba(0, 0, 0, 0.3),
    5px 25px 30px rgba(51, 51, 51, 0.4);
  margin-bottom: 5rem;
}

#left {
  margin: 0 auto;
  min-width: 50%;
}

#right {
  display: none;
  height: fit-content;
  padding: 2%;
  padding-left: 0;
  background-color: #007bff;
  color: #fff;
  min-width: 40%;
}

#main {
  display: flex;
  padding-top: 5%;
}

#close-detail {
  position: absolute;
  z-index: 1;
  color: #fff;
  top: 8%;
  right: 8%;
  font-weight: bolder;
}

#close-detail:hover {
  color: #000;
  cursor: pointer;
}

.header-p {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  margin: 0;
  padding: 0.5rem;
  padding-left: 2rem;
}

.inset {
  display: none;
  height: fit-content;
  padding: 2%;
  padding-left: 0;
  background-color: #007bff;
  color: #fff;
  min-width: 80%;
  margin: 0.5rem auto;
  position: relative;
  border-radius: 1rem;
}

.detail {
  color: #000;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 560px) {
  #main {
    flex-direction: column-reverse;
  }

  #right {
    margin: 2rem auto;
    width: 95%;
  }
}
